body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

.options-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

.options-section h2 {
    margin-bottom: 10px;
}

.options-section label {
    margin-bottom: 5px;
}

.options-section select,
.options-section input {
    width: auto; /* Set to 'auto' for minimal width */
    min-width: 100px;
    /* max-width: 100px; /* Set the maximum width as needed */
    margin-bottom: 10px;
}

.options-section button {
    width: 200px; /* Set the fixed width */
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 0; /* Adjust padding for vertical centering */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Add margin at the top for spacing */
}

.options-section button:hover {
    background-color: #45a049;
}
